<div class="jumbotron">
	<div class="container">
	  <h1>Hello, Welcome to StrainCity!</h1>
	  <p>We are elated to have you with us.</p>
	  <p><a class="btn btn-success btn-md" href="#" role="button">Come on in...</a></p>
	</div>
</div>